.text-lg {
  font-size: 32px;
}
body{
  font-family: 'Raleway', san-serif;
}
.success-message {
  background-color: #ccffff;
  margin-bottom: 10px;
}
.loading-center {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2048;
  margin-top: -17px;
  margin-left: -17px;
}
.margin-left-10 {
  margin-left: 10px;
}
.number-text {
  font-family: 'Josefin Sans', san-serif !important;
  text-align: right;
}
.horizontal-spacer-opaque {
  height: 10px;
}
.filter-input {
  margin-left: 8px;
  width: 60px;
}
.delete-button {
  background-color: #800;
  color: #fff;
}
.delete-button:hover {
  background-color: #a00;
  color: #fff;
}
.button-important {
  background-color: #ffff99;
  color: #000;
}
.sort-button {
  height: 24px;
  margin: 0 0 0 8px;
  line-height: 24px;
  background-color: #888;
  color: #fff;
}
.flat-button {
  height: 24px;
  margin: 0 0 0 8px;
  line-height: 24px;
}
.nav-container {
  background: #666;
  height: 60px;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1024;
}
.nav-container a {
  color: white;
}
.main-container {
  margin-top: 80px;
}
.float-button {
  margin-right: 5px;
}
.pastearea {
  height: 120px;
}
.alert {
  background: #fcf8e5;
  color: #b48728;
  border: 1px solid #f8ebcf;
  padding: 18px;
  margin-bottom: 18px;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}
.paging-button {
  width: 64px;
  height: 24px;
  line-height: 24px;
  padding: 0px;
}
.paging-button-current {
  background: #b3d9ff;
  color: #000;
  border-color: #0066cc;
}
.overflow-table {
  overflow: scroll;
  border-color: #444;
}
.hover-links a { text-decoration: none; }
.hover-links a:hover { text-decoration: underline; }
.inline-list {
  margin-bottom: 0px; /* Skelton reset */
}
.inline-list li {
  display: inline;
  margin: 0 20px 0 0;
}

/* landing */
.landing-header h1 {
  font-size: 38px;
  line-height: 38px;
}

.landing-spacer {
  height: 20px;
}

.landing-feature-header {
  background-color: #ccc;
}

.landing-feature-header h3 {
  font-size: 20px;
  line-height: 20px;
  padding: 5px 0 5px 10px;
  margin: 0 0 0 0;
}

.landing-topic-header {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin: 0;
}

.landing-topic-header h2 {
  font-size: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

/* table */
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  /*font-size: 13px;*/
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  /*font-size: 15px;*/
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  /*font-size: 14px;*/
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  /*font-size: 14px;*/
}
table.blueTable tfoot .links {
  /*text-align: right;*/
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
